# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# 應用程式查詢用（連接埠 6543，並在結尾加上 ?pgbouncer=true）
DATABASE_URL="postgresql://postgres.[專案id]:[密碼]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# 遷移（Migrate）專用直連（把連接埠改為 5432，不加額外參數）
DIRECT_URL="postgresql://postgres.[專案id]:[密碼]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

# Project URL
NEXT_PUBLIC_SUPABASE_URL=https://pwrlohlzeuaikmxfohjf.supabase.co

# service_role 的金鑰亂碼
SUPABASE_SERVICE_ROLE_KEY=eyJhY...這裡會是非常長的一串亂碼...

# admin專用的暗號（這個值應該要跟 app/(admin)/admin/layout.tsx 裡的密鑰一致）
NEXT_PUBLIC_ADMIN_KEY=[admin專用的暗號]