@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e0e4e7;
  border-radius: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(197, 199, 202);
}


::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.title {
  font-weight: bold;
  font-family: "Noto Serif TC", serif;
  font-size: 1.25rem;
  margin: 0 0 1.5rem 0;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  display: inline-block;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-serif: var(--serif);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-background: var(--background);
}

:root {
  --background: #F1F5F9;
  --primary: #2B2B38;
  --secondary: #F1F5F9;
  --muted: #F1F5F9;
  --accent: #F1F5F9;
  --destructive: #EF4444;
  --serif: "Noto Serif TC", serif;
}

@layer base {
  * {
    @apply outline-none;
  }
  body {
    @apply bg-background text-primary;
  }
  html {
    @apply font-sans;
  }
}